<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:b="http://bootsfaces.net/ui">
<h:head>
	<title>Controle de Trafego Aéreo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<style type="text/css">
		/*Elemntos*/

		hr{
			margin-bottom: 0px!important;
		}

		/*Classes*/
		.btn-danger{
			margin-top: 5px;
		}
		.btn-primary{
			margin-top: 5px;
		}
		.form-control{
			border-radius: 0px !important;
			height: 30px !important;
			border: 0.2px solid #e6e6e6 !important;
		}
		.btn{
			border-radius: 0px !important;
		}

	</style>
</h:head>
<h:body>
	<h:form id="formInicial">
	<h1 class="text-center">Controlador de Trafego Aéreo <h:commandButton styleClass="btn btn-danger btn-xs" value="Limpar Sessão" action="#{cordenadasBean.limparSessao}"/></h1>
	<hr/>


		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2 col-xs-12 col-md-2">
					<h5>Entrada de dados</h5>
				</div>
				<div class="col-sm-2 col-xs-12 col-md-2">
					<h5>Funções de transformação</h5>
				</div>
			</div>
			<div class="row">
			

						<div class="col-sm-2 col-xs-12 col-md-2">

							<h:panelGroup id="groupEntradaDados">
							<h:inputHidden value="#{cordenadasBean.aviao.codigo}" />
							<h:inputHidden value="#{cordenadasBean.aviao.selecionar}" />

							<div class="form-group">
								<label>X</label>
								<h:inputText styleClass="form-control expandir" value="#{cordenadasBean.aviao.cartesiano.x}"/>
							</div>

							<div class="form-group">
								<label>Y</label>
								<h:inputText styleClass="form-control" value="#{cordenadasBean.aviao.cartesiano.y}"/>
							</div>

							<div class="form-group">
								<label>Raio</label>
								<h:inputText styleClass="form-control" value="#{cordenadasBean.aviao.polar.raio}"/>
							</div>
							<div class="form-group">
								<label>Velocidade</label>
								<h:inputText styleClass="form-control" value="#{cordenadasBean.aviao.velocidade}"/>
							</div>



							<div class="form-group">
								<label>Ângulo</label>
								<h:inputText styleClass="form-control" value="#{cordenadasBean.aviao.polar.angulo}"/>
							</div>
							<div class="form-group">
								<label>Direção</label>
								<h:inputText styleClass="form-control" value="#{cordenadasBean.aviao.direcao}"/>
							</div>
							<div class="form-group">
								<label>Nome</label>
								<h:inputText styleClass="form-control" value="#{cordenadasBean.aviao.nome}"/>
							</div>

							<h:commandButton styleClass="btn btn-xs btn-success btn-block btn-xs" style="margin-top: 21px;" value="Enviar" action="#{cordenadasBean.enviarEntradaDeDados}">
								  <f:ajax execute="@form" render="radar gridAvioes groupEntradaDados" />
							</h:commandButton>

							<h:commandButton styleClass="btn btn-xs btn-success btn-block btn-xs" value="Atualizar" action="#{cordenadasBean.movimentaAvioesRadar}">
								<f:ajax execute="@form" render="radar gridAvioes" />
							</h:commandButton>

							</h:panelGroup>

						</div>

						<div class="col-sm-2 col-xs-12 col-md-2">
							<h:panelGroup id="tranlacao">
								<div class="form-group">
									<label>X</label>
									<h:inputText styleClass="form-control" value="#{cordenadasBean.cartesianoTranslacao.x}" />
								</div>
								<div class="form-group">
									<label>Y</label>
									<h:inputText styleClass="form-control" value="#{cordenadasBean.cartesianoTranslacao.y}" />
								</div>
								<h:commandButton styleClass="btn btn-xs btn-success" value="Translandar" action="#{cordenadasBean.tranlacao}">
									<f:ajax execute="@form" render="radar gridAvioes" />
								</h:commandButton>
							</h:panelGroup>
							<h:panelGroup id="escalonar">
								<div class="form-group">
									<label>X</label>
									<h:inputText styleClass="form-control" value="#{cordenadasBean.cartesianoEscalonar.x}"/>
								</div>
								<div class="form-group">
									<label>Y</label>
									<h:inputText styleClass="form-control" value="#{cordenadasBean.cartesianoEscalonar.y}"/>
								</div>
								<h:commandButton styleClass="btn btn-xs btn-success" value="Escalonar" action="#{cordenadasBean.escalonar}">
									<f:ajax execute="@form" render="radar gridAvioes" />
								</h:commandButton>
							</h:panelGroup>
							
							<h:panelGroup id="rotacao">
							<div class="form-group">
								<label>Ângulo</label>
								<h:inputText styleClass="form-control" value="#{cordenadasBean.anguloRotacao}" />
							</div>
							<div class="form-group">
								<label>X</label>
								<h:inputText styleClass="form-control" value="#{cordenadasBean.cartesianoRotacao.x}" />
								<label>Y</label>
								<h:inputText styleClass="form-control" value="#{cordenadasBean.cartesianoRotacao.y}" />
							</div>
							<h:commandButton styleClass="btn btn-success btn-xs btn-block" value="Rotacionar" action="#{cordenadasBean.rotacao}" >
							<f:ajax execute="@form" render="radar gridAvioes" />
							</h:commandButton>
							</h:panelGroup>
							
						</div>

				<h:panelGroup id="radar">
				<div class="col-sm-8 col-xs-12 col-md-8">
					<b:canvas style="width:100%;"
							  width="#{cordenadasBean.x}"
							  height="#{cordenadasBean.y}"
							  drawing="#{cordenadasBean.radar}" />
				</div>
				</h:panelGroup>
		</div>

			<!-- daqui pra baixo e outras tretas -->

			<div class="row" style="margin-top: 20px;">
				<div class="col-sm-1 col-xs-12 col-md-1">
				<h:panelGroup id="distanciaMinimaAero">
					<div class="form-group">
						<label class="text-center">Distância minima</label>
						<h:inputText styleClass="form-control" value="#{cordenadasBean.distanciaMinimaAeroporto}"/>
						<h:commandButton styleClass="btn btn-danger btn-xs btn-block" value="Prox aeroporto" action="#{cordenadasBean.descobrirDistanciaMinimaAeroporto}">
						<f:ajax execute="@form" render="relatorio" />
						</h:commandButton>
					</div>
				</h:panelGroup>
				<h:panelGroup id="distanciaMinimaAvioes">
					<div class="form-group">
						<label class="text-center">Distância minima</label>
						<h:inputText styleClass="form-control" value="#{cordenadasBean.distanciaMinimaAvioes}"/>
						<h:commandButton styleClass="btn btn-danger btn-xs btn-block" value="Aviões prox" action="#{cordenadasBean.descobrirDistanciaMinimaAvioes}" >
						<f:ajax execute="@form" render="relatorio" />
						</h:commandButton>
					</div>
				</h:panelGroup>
					<div class="form-group">
						<label class="text-center">Tempo minimo</label>
						<h:inputText styleClass="form-control" value="#{cordenadasBean.tempoMinimoColisao}"/>
						<h:commandButton styleClass="btn btn-danger btn-xs btn-block" value="Colisão" action="#{cordenadasBean.descobrirColisao}">
						<f:ajax execute="@form" render="relatorio" />
						</h:commandButton>
					</div>
				</div>
				
				<div class="col-sm-8">

					<label>Grid dos Aviões</label>
					<h:dataTable id="gridAvioes"
								 value="#{cordenadasBean.listaAviaoDataGrid}"
								 var="aviao" styleClass="table table-striped table-bordered">
						<h:column >
							<f:facet name="header">
								<h:outputText value="Nome" />
							</f:facet>
							<h:outputText value="#{aviao.nome}"/>
						</h:column>
						<h:column>
							<f:facet name="header">
								<h:outputText value="X"/>
							</f:facet>
							<h:outputText value="#{aviao.cartesiano.x}"/>
						</h:column>
						<h:column>
							<f:facet name="header">
								<h:outputText value="Y"/>
							</f:facet>
							<h:outputText value="#{aviao.cartesiano.y}"/>
						</h:column>
						<h:column>
							<f:facet name="header">
								<h:outputText value="Raio"/>
							</f:facet>
							<h:outputText value="#{aviao.polar.raio}"/>
						</h:column>
						<h:column>
							<f:facet name="header">
								<h:outputText value="Angulo (graus)"/>
							</f:facet>
							<h:outputText value="#{aviao.polar.angulo}"/>
						</h:column>
						<h:column>
							<f:facet name="header">
								<h:outputText value="Velocidade (km/h)"/>
							</f:facet>
							<h:outputText value="#{aviao.velocidade}"/>
						</h:column>
						<h:column>
							<f:facet name="header">
								<h:outputText value="Direção (graus)"/>
							</f:facet>
							<h:outputText value="#{aviao.direcao}"/>
						</h:column>
						<h:column>
							<h:commandLink value="#{aviao.selecionar}" action="#{cordenadasBean.marcarSelecionado}">
								<f:setPropertyActionListener value="#{aviao}" target="#{cordenadasBean.aviao}"/>
								<f:ajax execute="@this" render="formInicial"/>
							</h:commandLink>
						</h:column>
						<h:column>
							<h:commandLink value="Excluir" action="#{cordenadasBean.excluirAviao}">
								<f:setPropertyActionListener value="#{aviao}" target="#{cordenadasBean.aviao}"/>
								<f:ajax execute="@this" render="formInicial"/>
							</h:commandLink>
						</h:column>
					</h:dataTable>

				</div>
				
				<h:panelGroup id="relatorio">
				<div class="col-sm-3">
					<div class="form-group">
						<label>Relatório</label>
						<h:inputTextarea styleClass="form-control" rows="13" cols="3" style="height: 280px!important;" value="#{contextoBean.relatorio}"/>
					</div>
				</div>
				</h:panelGroup>
			</div>

		</div>

    </h:form>

</h:body>
</html>